---
import NavBar from "../components/navbar/NavBar.astro";
import StripedRow from "../components/striped-row/StripedRow.astro";
import ChevronRight from "../icons/ChevronRight.astro";
import Clock from "../icons/Clock.astro";
import Facebook from "../icons/Facebook.astro";
import Instagram from "../icons/Instagram.astro";
import Mail from "../icons/Mail.astro";
import MapPin from "../icons/MapPin.astro";
import Phone from "../icons/Phone.astro";
import "../styles/global.css";
import BaseHead from "./BaseHead.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;

const footerMenu = [
  {
    title: "Főoldal",
    href: "/",
  },
  {
    title: "Autómentés",
    href: "/automentes",
  },
  {
    title: "Autószállítás",
    href: "/autoszallitas",
  },
  {
    title: "Szállítmányozás",
    href: "/szallitmanyozas",
  },
  {
    title: "Bikázás",
    href: "/bikazas",
  },
  {
    title: "Kerékcsere",
    href: "/kerekcsere",
  },
  {
    title: "Kapcsolat",
    href: "/kapcsolat",
  },
];

const instagramLink = "https://www.instagram.com/dobos_transport_building/";
const facebookLink = "https://www.facebook.com/dobos.transport";
---

<!doctype html>
<html lang="hu">
  <BaseHead title={title} description={description} />
  <body class="bg-gray-950 text-gray-300">
    <header>
      <NavBar />
    </header>
    <main>
      <slot />
    </main>
    <footer class="border-t border-teal-300/10 pt-10">
      <div class="container mx-auto max-w-7xl py-5 px-5 2xl:px-0">
        <section class="grid grid-cols-1 lg:grid-cols-3 gap-10">
          <div class="space-y-10">
            <div class="leading-loose">
              <p class="text-6xl">LOGO</p>
              <a href="/" class="uppercase">dobostransport.hu</a>
              <p class="text-xs text-white">AUTÓMENTŐ, AUTÓMENTÉS, AUTÓSZÁLLÍTÁS, MOTORMENTÉS, BIKÁZÁS</p>
            </div>
            <p class="leading-relaxed text-gray-400">
              Cégünk több éves szakmai tapasztalattal és több száz elégedett ügyféllel a háta mögött garantálja, hogy
              autómentés, autószállítás, motorszállítás és bikázás szolgáltatásunkban nem fog csalódni. Autójának
              elszállítását a legszakszerűbb módon, a legbiztonságosabban, kedvező áron végezzük.
            </p>
          </div>
          <div class="space-y-5">
            <h2 class="uppercase font-bold">Hasznos <span class="text-white">linkek</span></h2>
            <ul>
              {
                footerMenu.map((item, index) => (
                  <StripedRow tag="li" spacing="small" Icon={ChevronRight} isFirst={index === 0}>
                    <a href={item.href} class="!text-gray-300 hover:!text-white w-full">
                      {item.title}
                    </a>
                  </StripedRow>
                ))
              }
            </ul>
          </div>
          <div class="space-y-5">
            <h2 class="uppercase font-bold">Vedd fel <span class="text-white">velünk</span> a kapcsolatot</h2>
            <ul class="space-y-5">
              <li class="flex items-center gap-4">
                <div class="flex items-center justify-center p-3 border border-teal-300/10 bg-teal-400/10 rounded-full">
                  <MapPin className="size-5 stroke-teal-500" />
                </div>
                <div>
                  <p class="text-sm text-gray-400">Cím</p>
                  <p class="text-white">9700 Szombathely</p>
                </div>
              </li>
              <li class="flex items-center gap-4">
                <div class="flex items-center justify-center p-3 border border-teal-300/10 bg-teal-400/10 rounded-full">
                  <Mail className="size-5 stroke-teal-500" />
                </div>
                <div>
                  <p class="text-sm text-gray-400">E-mail cím</p>
                  <a href="mailto:doboshunor92@gmail.com" class="text-white hover:text-teal-400">doboshunor92@gmail.com</a>
                </div>
              </li>
              <li class="flex items-center gap-4">
                <div class="flex items-center justify-center p-3 border border-teal-300/10 bg-teal-400/10 rounded-full">
                  <Phone className="size-5 stroke-teal-500" />
                </div>
                <div>
                  <p class="text-sm text-gray-400">Telefonszám</p>
                  <a href="tel:+36204492158" class="text-white hover:text-teal-400">+36 20 449 2158</a>
                </div>
              </li>
              <li class="flex items-center gap-4">
                <div class="flex items-center justify-center p-3 border border-teal-300/10 bg-teal-400/10 rounded-full">
                  <Clock className="size-5 stroke-teal-500" />
                </div>
                <p>Az év 365 napján, a nap 24 órájában várjuk hívását</p>
              </li>
            </ul>
          </div>
        </section>
        <section class="flex lg:justify-between lg:items-end mt-10 flex-col lg:flex-row gap-5 items-center justify-center">
          <ul class="flex justify-center lg:justify-start items-center gap-5">
            <li>
              <button
                id="scrollToTopBtn"
                class="hover:drop-shadow-[0px_0px_22px_rgba(0,255,204,1)] transition-all duration-300 flex items-center justify-center p-2 border border-teal-300/10 bg-teal-400/10 rounded-full fixed bottom-5 left-5 opacity-0 bg-gray-950/80"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="size-6 stroke-teal-500"
                >
                  <path d="m18 15-6-6-6 6"/>
                </svg>
              </button>
            </li>
            <li>
              <a
                href={facebookLink}
                target="_blank"
                class="hover:drop-shadow-[0px_0px_22px_rgba(0,255,204,1)] transition-all duration-300 flex items-center justify-center p-2 border border-teal-300/10 bg-teal-400/10 rounded-full"
              >
                <Facebook className="size-6 stroke-teal-500" />
              </a>
            </li>
            <li>
              <a
                href={instagramLink}
                target="_blank"
                class="hover:drop-shadow-[0px_0px_22px_rgba(0,255,204,1)] transition-all duration-300 flex items-center justify-center p-2 border border-teal-300/10 bg-teal-400/10 rounded-full"
              >
                <Instagram className="size-6 stroke-teal-500" />
              </a>
            </li>
          </ul>
          <p class="text-sm text-gray-400">© {new Date().getFullYear()} Dobos Transport. Minden jog fenntartva.</p>
        </section>
      </div>
      <div class="border-t border-teal-300/10 py-4 text-center">
        Made by <a href="https://www.linkedin.com/in/florian-molnar-2323b1252/" target="_blank" referrerpolicy="no-referrer"
          >Molnar Florian</a
        >
      </div>
    </footer>

    <script>
      const scrollToTopBtn = document.getElementById('scrollToTopBtn');
      let lastScrollTop = 0;

      window.addEventListener('scroll', () => {
        const currentScroll = window.pageYOffset || document.documentElement.scrollTop;

        if (currentScroll > 300) {
          scrollToTopBtn.classList.remove('opacity-0');
          scrollToTopBtn.classList.add('opacity-100');
        } else {
          scrollToTopBtn.classList.remove('opacity-100');
          scrollToTopBtn.classList.add('opacity-0');
        }

        lastScrollTop = currentScroll <= 0 ? 0 : currentScroll;
      });

      scrollToTopBtn.addEventListener('click', () => {
        window.scrollTo({ top: 0, behavior: 'smooth' });
      });
    </script>
  </body>
</html>